$font-stack: Helvetica, sans-serif;
$primary-colour: #191970;
$secondary-colour: #fafad2;

body {
  font: 100% $font-stack;
}
.is-primary {
  background-color: $primary-colour !important;
}
.is-primary-text {
  color: $primary-colour !important;
}
.is-secondary {
  background-color: $secondary-colour !important;
}
.is-secondary-text {
  color: $secondary-colour !important;
}
header {
  .hero-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  figure {
    border: 5px solid $secondary-colour;
    background-color: $secondary-colour;
    border-radius: 290486px;
    height: 238px;
    width: 238px;
    margin-bottom: 2rem;
    padding-top: 0.3125rem;
    overflow: hidden;
  }
  img {
    margin: -20px 0 0 8px;
  }
  a {
    padding: 1rem 4rem !important;
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(50%, $secondary-colour),
      color-stop(50%, $primary-colour)
    );
    background: -o-linear-gradient(left, $secondary-colour 50%, $primary-colour 50%);
    background: linear-gradient(to right, $secondary-colour 50%, $primary-colour 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    border: 4px solid $secondary-colour !important;
    -webkit-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
    &:hover {
      background-position: right bottom;
      color: $secondary-colour !important;
    }
  }
}
section {
  padding: 10rem 0 !important;
  h2 {
    text-align: justify;
    margin: 0 9rem;
    @media all and (max-width: 1200px) {
      margin: 0 3rem;
    }
  }
  .img-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
  .birds-img figure {
    border: 5px solid $primary-colour;
    background-color: $primary-colour;
    border-radius: 290486px;
    height: 256px;
    width: 256px;
    overflow: hidden;
    margin: 2rem 0;
    -webkit-transition: all 0.9s ease-in-out;
    -o-transition: all 0.9s ease-in-out;
    transition: all 0.9s ease-in-out;
    &:hover .middle {
      opacity: 1;
    }
  }
  .middle {
    opacity: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    vertical-align: bottom;
  }
  .birds-img img {
    margin-top: -50px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    &:hover {
      -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
      transform: scale(1.5);
    }
  }
  .text {
    background-color: $secondary-colour;
    color: $primary-colour;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 290486px;
  }
}

.proj-img {
  figure {
    border: 5px solid $secondary-colour;
    border-radius: 30px;
    height: 256px;
    width: 512px;
    margin: 2rem 0.5rem;
    overflow: hidden;
  }
  img {
    min-height: 100%;
    object-fit: cover;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    &:hover {
      cursor: pointer;
      -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
      transform: scale(1.5);
      margin-top: 60px;
    }
  }
}

footer {
  .content div a svg {
    margin: 0 0.5rem!important;
  }
}
